@use '../../styles/settings/index.scss' as *;

.card {
    @include text-regular-2;
    background-color: $color-dark-2;
    padding: 1rem;
    border-radius: $border-radius;
    $line-height: 0.2rem;
    z-index: 1;
    height: 100%;

    .decorative {
        @include decorative-circles;
    }

    ul {
        padding: 0;
        margin: $line-height 0;
        list-style: none;
    }

    p {
        margin: $line-height 0;
    }
}
