@use '../../styles/settings/index.scss' as *;

.card {
    @include text-regular-2;
    background-color: $color-dark-2;
    padding: 1rem;
    border-radius: $border-radius;
    $line-height: 0.2rem;
    z-index: 1;
    height: 100%;

    .decorative {
        display: flex;
        $size: 15px;
        column-gap: calc($size / 2);
        margin: 0.5rem 0;

        &__circle {
            width: $size;
            height: $size;
            border-radius: 100%;
        }

        .red {
            background-color: $color-decorative-red;
        }

        .yellow {
            background-color: $color-decorative-yellow;
        }

        .green {
            background-color: $color-decorative-green;
        }
    }

    ul {
        padding: 0;
        margin: $line-height 0;
        list-style: none;
    }

    p {
        margin: $line-height 0;
    }
}
