@use '../../styles/settings/index.scss' as *;

.carousel {
  position: relative;
  width: 100%;
}

.arrow-container {
  display: flex;
  column-gap: 1rem;
  margin-bottom: 1rem;

  .button-container {
    .navigation{
      @include button($color-background, $color-dark-1);
    }
  }
}


.slider {
  display: flex;
  column-gap: 0rem;
}