@use '../../styles/settings/index.scss' as *;


.container {
    width: 100vw;
    position: fixed;
    padding: 0.5rem $padding-phone;
    top: 1rem;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .icon {
        width: 6rem;
        height: auto;
    }

    .link {
        display: none;
        // @include text-regular-1;
        // display: flex;
        // column-gap: 5rem;

        // li{
        //     list-style: none;
        //     a{
        //         color: $color-dark-1;
        //         text-decoration: none;
        //     }
        //     &:hover{
        //         a{
        //             color: $color-accent-2;
        //         }
        //     }
        // }
    }

    .externals {
        display: flex;
        column-gap: 1rem;
        align-self: end;

        .button-container {
            align-self: end;
            // margin-bottom: 0.5rem;
            row-gap: 1rem;

            .socials {
                @include button($color-background, $color-dark-1);
            }

            .contact {
                @include button($color-accent-2, $color-background);
            }
        }
    }
}

@include gt-md {
    .container {
        padding: 0.5rem $padding-desktop;

        .icon {
            width: 8rem;
            height: auto;
        }

        .link {
            @include text-regular-1;
            display: flex;
            column-gap: 3rem;

            li {
                list-style: none;

                a {
                    color: $color-dark-1;
                    text-decoration: none;
                }

                &:hover {
                    a {
                        color: $color-accent-2;
                    }
                }
            }
        }
    }
}