$color-background: #E6E6E4;
$color-accent-1: #ABD200;
$color-accent-2: #3B14E4;
$color-dark-1: #000000;
$color-dark-2: #191A1A;

$color-decorative-red: #FB615D;
$color-decorative-yellow: #FDBC45;
$color-decorative-green: #25C94F;
$color-decorative-blue: #249AC2;