$color-background: #E9E9E8;
$color-dark: #1A1B1C;
$color-accent: #B3D803;
$color-white: white;
$color-shadow:#D1D1D1;

// neumorphic colors
$neu-color-1: #e0e0e0;
$neu-color-2: #bebebe;
$neu-color-3: #ffffff;