@use 'media-query' as *;

$font-size-multiplier: 0.2; //% increase or reduction depending on screen size
$line-height-multiplier: 1.16;
$small-font: 1 - $font-size-multiplier;
$normal-font: 1;
$large-font: 1 + $font-size-multiplier;

$url:'../../public/fonts/' ;

@font-face {
    font-family: 'Menlo';
    src: url($url + 'Menlo-Bold.eot');
    src: url($url + 'Menlo-Bold.eot?#iefix') format('embedded-opentype'),
        url($url + 'Menlo-Bold.woff2') format('woff2'),
        url($url + 'Menlo-Bold.woff') format('woff'),
        url($url + 'Menlo-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Menlo';
    src: url($url + 'Menlo-Regular.eot');
    src: url($url + 'Menlo-Regular.eot?#iefix') format('embedded-opentype'),
        url($url + 'Menlo-Regular.woff2') format('woff2'),
        url($url + 'Menlo-Regular.woff') format('woff'),
        url($url + 'Menlo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@mixin font-settings($desktop-font-size) {
    // font-size: calc($desktop-font-size * $small-font);
    // line-height: calc(($desktop-font-size * $small-font) * $line-height-multiplier);
    font-size: $desktop-font-size;
    line-height: calc($desktop-font-size * $line-height-multiplier);
    margin: 0;

    // @include gt-xs {
    //     font-size: $desktop-font-size;
    //     line-height: calc($desktop-font-size * $line-height-multiplier);
    // }

    @include gt-lg {
        font-size: calc($desktop-font-size * $large-font);
        line-height: calc(($desktop-font-size * $large-font) * $line-height-multiplier);
    }
}


@mixin text-header {
    @include font-settings ($desktop-font-size: 65px);
    font-family: 'Menlo';
    font-weight: bold;
    font-style: normal;
}

@mixin text-title {
    @include font-settings ($desktop-font-size: 40px);
    font-family: 'Menlo';
    font-weight: bold;
    font-style: normal;
}

@mixin text-highlight {
    @include font-settings ($desktop-font-size: 30px);
    font-family: 'Menlo';
    font-weight: bold;
    font-style: normal;
}

@mixin text-bold {
    @include font-settings ($desktop-font-size: 18px);
    font-family: 'Menlo';
    font-weight: bold;
    font-style: normal;
}

@mixin text-regular-1 {
    @include font-settings ($desktop-font-size: 18px);
    font-family: 'Menlo';
    font-weight: normal;
    font-style: normal;
}

@mixin text-regular-2 {
    @include font-settings ($desktop-font-size: 16px);
    font-family: 'Menlo';
    font-weight: normal;
    font-style: normal;
}
