@use '../../styles/settings/index.scss' as *;

.section{
    margin: 3rem $padding-phone;
    z-index: 1;
}


@include gt-xs{
    .section{
        margin: 3rem $padding-tablet;
    }
}

@include gt-md{
    .section{
        margin: 3rem $padding-desktop;
    }
}
