@use '../../styles/settings/index.scss' as *;

$spacing: 2rem;

.container {
    margin: $spacing 0;
}

.year {
    @include text-highlight;
    color: $color-accent-1;
    margin-bottom: $spacing;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    row-gap: 1rem;

    .info {
        // grid-row-start / grid-column-start / grid-row-end / grid-column-end
        // grid-column: 1 / 2;
        grid-area: 1 / 1 / 2 / 2;

        &__header {
            @include text-highlight;
            color: $color-background;
            background-color: $color-accent-2;
            padding: 0.5rem 1rem;
            border-radius: $border-radius $border-radius 0 0;
        }

        &__info {
            @include glassmorphism;
            border: $border $color-dark-1;
            border-radius: 0 0 $border-radius $border-radius;
            display: flex;
            flex-direction: column;

            .project-name {
                @include text-highlight;
                color: $color-dark-1;
                // writing-mode: vertical-rl;
                // text-orientation: sideways-right;
                // transform: rotate(180deg);
                padding: 1rem 1rem;
            }

            .description {
                @include text-regular-1;
                padding: 1rem;
                color: $color-dark-1;

                .tech {
                    @include text-bold;
                    list-style: none;
                    padding: 1rem 0;
                    color: $color-accent-2;
                }

                .button-container {
                    margin-top: 1rem;

                    .website-button {
                        @include button($color-accent-2, white)
                    }
                }

            }

        }

    }

    .preview {
        // grid-column: 2 / 3;
        grid-area: 2 / 1 / 3 / 2;

        &__container {
            @include shadow;
            border-radius: $border-radius;

            .decorative {
                @include decorative-circles;
                background-color: $color-dark-2;
                margin: 0;
                padding: 1rem;
                border-radius: $border-radius $border-radius 0 0;
            }

            .showcase-website {
                @include shadow;
                border-radius: 0 0 $border-radius $border-radius;
                width: 100%;
            }
        }
    }
}

@include gt-md {
    $spacing: 2rem;

    .container {
        margin: $spacing 0;
    }

    .year {
        @include text-highlight;
        color: $color-accent-1;
        margin-bottom: $spacing;
    }

    .grid {
        display: grid;
        grid-template-columns: 40% auto;
        grid-template-rows: auto;
        column-gap: 1rem;

        .info {
            // grid-row-start / grid-column-start / grid-row-end / grid-column-end
            grid-area: 1 / 1 / 2 / 2;

            &__header {
                @include text-highlight;
                color: $color-background;
                background-color: $color-accent-2;
                padding: 0.5rem 1rem;
                border-radius: $border-radius $border-radius 0 0;
            }

            &__info {
                @include glassmorphism;
                border: $border $color-dark-1;
                border-radius: 0 0 $border-radius $border-radius;
                display: flex;
                flex-direction: row;

                .project-name {
                    @include text-highlight;
                    color: $color-dark-1;
                    writing-mode: vertical-rl;
                    text-orientation: sideways-right;
                    transform: rotate(180deg);
                    padding: 1rem 0.5rem;
                }

                .description {
                    @include text-regular-1;
                    padding: 1rem;
                    color: $color-dark-1;

                    .tech {
                        @include text-bold;
                        list-style: none;
                        padding: 1rem 0;
                        color: $color-accent-2;
                    }

                    .button-container {
                        margin-top: 1rem;

                        .website-button {
                            @include button($color-accent-2, white)
                        }
                    }

                }

            }

        }

        .preview {
            // grid-row-start / grid-column-start / grid-row-end / grid-column-end
            grid-area: 1 / 2 / 2 / 3;

            &__container {
                @include shadow;
                border-radius: $border-radius;

                .decorative {
                    @include decorative-circles;
                    background-color: $color-dark-2;
                    margin: 0;
                    padding: 1rem;
                    border-radius: $border-radius $border-radius 0 0;
                }

                .showcase-website {
                    @include shadow;
                    border-radius: 0 0 $border-radius $border-radius;
                }
            }
        }
    }
}